body{
    text-align: center;
  }

  .ucontainer{
    margin: auto;
    display: flex;
    flex-direction: row;
  }
  
  
  .upload {
    align-items:center;
    appearance: none;
    background-color: #ffffff;
    border-radius: 30px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 20px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 80px 80px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
    margin: auto;
  }
  
  .upload:hover {
    background: #F6F9FE;
    color: #373733;
  }
  
  .upload:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
  }
  
  .upload:focus {
    outline: none;
    border: 2px solid #cfcfc9;
  }
  
  .upload:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .upload:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }
  
  .upload:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .upload:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
  }
  
  .upload:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .upload1{
    width: 50px;
    height: 50px;
    padding: 10px;
  }

  .upload p{
    margin-top: 20px;
  }
  
  #filename p{
    text-align: center;
    font-style: italic;
    margin-top: 2%;
    color: #2f33a996;
  }

  .btns{
    display: flex;
    flex-direction: column;
    object-fit: contain;
    max-width: 100%;
    height: auto;
    flex: 1;
  }
  
  
  .options{
    margin: 0 100px;
    padding: 50px;
    flex-direction: row;
    display: flex;
    justify-content: center;
  }
  
  
  .options button {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 810px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    flex-direction: row;
    display: inline-block;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 15px;
    line-height: 29px;
    padding: 0 10px;
    position: relative;
    text-align:center;
    align-items: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 170px;
    margin: 10px;
  }
  
  .options button:hover {
    background-color: #f7fafa;
  }
  
  .options button:focus {
    border-color: #373733;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
  }
  
  .logo{
    width: 50px;
    height: 60px;
    padding: 20px 10px 10px 10px;
  }

  .uimage{
    padding: 10px;
    margin: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex:1;
  }

  @media (max-width: 600px) {
    .ucontainer {
      flex-direction: column; 
    }
  }

  .ui{
    width: 500px;
    height: 500px;
    padding: 10px;
    margin: 10px;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    text-align: center;
  }

  .btnupload {
    display: flex;
    flex-direction: column;
  }

  .result-container {
    padding: 20px; /* Adds space inside the container */
    margin: 20px auto; /* Centers the container and adds space above and below */
    max-width: 1200px; /* Sets maximum width for responsiveness */
    width: 100%; /* Makes it responsive */
    box-sizing: border-box; /* Includes padding in width */
  }
  
